<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codepath.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3seULQfjcIGvw8LoFjcRo2CSLinf_4No" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tourism.TourismActivity" />
        <activity android:name=".FoodActivity" />
        <activity android:name=".EventActivity" />
        <activity android:name=".Options.OptionsActivity" />
        <activity android:name=".Maps.MarkerDemoActivity" />
        <activity android:name=".MapsMarkerActivity" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".MusicActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name=".NearbyActivity" />

        <fragment android:name=".Fragments.EventsListFragment" />
        <fragment android:name=".FoodFragments.FoodListFragment" />

        <activity android:name=".DetailPlaceActivity" />

        <fragment android:name=".TourismFragments.TourismListFragment" />

        <activity android:name=".Event.EventDetail" />
        <activity android:name=".tempFOOD" />
        <activity android:name=".Tourism.tempTourism" />
        <activity android:name=".FoodMainPage" />

        <fragment android:name=".LanguageFragments.CommonPhrasesFragment" />
        <fragment android:name=".LanguageFragments.TranslateFragment" />
        <fragment android:name=".LanguageFragments.LanguageMainActivity" />

        <activity android:name=".LanguageActivity" />
        <activity android:name=".Database.CatalogActivity" />
        <activity android:name=".Database.EditorActivity" />
        <activity android:name=".EventSearchActivity" />
        <activity android:name=".FoodSearchActivity" />
        <activity android:name=".TourismSearchActivity" />
        <activity android:name=".RestarauntSearchActivity" />
        <activity android:name=".CountrySearchActivity"></activity>
    </application>

</manifest>