<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.codepath.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyB3seULQfjcIGvw8LoFjcRo2CSLinf_4No" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />


                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity android:name=".Tourism.TourismActivity" />
        <activity android:name=".FoodFolder.FoodActivity" />
        <activity android:name=".Event.EventActivity" />
        <activity android:name=".Options.OptionsActivity" />
        <activity android:name=".Maps.MarkerDemoActivity" />
        <activity android:name=".MapsMarkerActivity" />
        <activity android:name=".FoodDetail" />
        <activity android:name=".PlayerActivity" />
        <activity android:name=".MusicActivity" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <fragment android:name=".Fragments.EventsListFragment" />
        <fragment android:name=".FoodFragments.FoodListFragment" />

        <activity android:name=".Tourism.DetailPlaceActivity" />

        <fragment android:name=".TourismFragments.TourismListFragment" />

        <activity android:name=".Event.EventDetail" />
        <activity android:name=".FoodFolder.tempFOOD" />
        <activity android:name=".Tourism.tempTourism" />
        <activity android:name=".FoodFolder.FoodMainPage" />

        <fragment android:name=".LanguageFragments.CommonPhrasesFragment" />
        <fragment android:name=".LanguageFragments.TranslateFragment" />
        <fragment android:name=".LanguageFragments.LanguageMainActivity" />

        <activity android:name=".LanguageActivity" />
        <activity android:name=".Database.SavedEventsActivity" />
        <activity android:name=".Database.SavedRecipesActivity" />
        <activity android:name=".Database.SavedTourismActivity" />
        <activity android:name=".Event.EventSearchActivity" />
        <activity android:name=".FoodFolder.FoodSearchActivity" />
        <activity android:name=".Tourism.TourismSearchActivity" />
        <activity android:name=".RestarauntSearchActivity" />
        <activity android:name=".CountrySearchActivity" />

        <activity android:name=".LoginActivity"></activity>
        <activity android:name=".Maps.tempDemoActivity"></activity>



        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider155418675023687"
            android:exported="true" />

        <activity android:name=".Options.FavouriteActivity"></activity>
    </application>

</manifest>